<header>
    <div class="container">
        <a class="logo" href="/"><img src="/img/logo-white.png" alt="Petshop DH"></a>
    <nav>
        <ul>
            <li><a href="/users/sobre">Sobre</a></li>
            <li><a href="/servico">Serviços</a></li>
            <li><a href="/users/contato">Contato</a></li>
            <li><a href="/users/login">Login</a></li>
        </ul>
    </nav>
    </div>
</header>