<article>
    <h1>tete </h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae, quam. Quae odio corporis saepe ut. Ex ullam officiis dolor, neque at repellendus ducimus consequuntur illum, ratione voluptatem, suscipit quam quaerat?</p>
</article>