<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PETSHOP DH</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <section class="servicos-lista">
            <div class="container">
                <h1>Serviços</h1>

                <article>
                    <div class="thumb"></div>
                    <div class="info">
                        <h2>Nome Serviço</h2>
                        <p>R$ 00,00</p>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis a, veritatis
                            voluptates natus, quaerat voluptatibus tenetur in labore ad consequatur repudiandae quia
                            veniam quas deserunt iure voluptatem. Saepe, est ipsam!</p>
                        <a href="#" class="btn btn-primary">agendar</a>
                    </div>
                </article>
                <article>
                    <div class="thumb"></div>
                    <div class="info">
                        <h2>Nome Serviço</h2>
                        <p>R$ 00,00</p>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis a, veritatis
                            voluptates natus, quaerat voluptatibus tenetur in labore ad consequatur repudiandae quia
                            veniam quas deserunt iure voluptatem. Saepe, est ipsam!</p>
                        <a href="#" class="btn btn-primary">agendar</a>
                    </div>
                </article>
                <article>
                    <div class="thumb"></div>
                    <div class="info">
                        <h2>Nome Serviço</h2>
                        <p>R$ 00,00</p>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis a, veritatis
                            voluptates natus, quaerat voluptatibus tenetur in labore ad consequatur repudiandae quia
                            veniam quas deserunt iure voluptatem. Saepe, est ipsam!</p>
                        <a href="#" class="btn btn-primary">agendar</a>
                    </div>
                </article>

            </div>
        </section>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>

</html>